<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- SEO / Google -->
<meta name="author" content="Author here...">
<meta name="description" content="Description here...">

<!-- Social: Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Title here...">
<meta name="twitter:description" content="Description here...">
<meta name="twitter:image" content="path/to/img">

<!-- end custom head snippets -->
