<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- SEO / Google -->
<meta name="author" content="Author here...">
<meta name="description" content="Description here...">

<!-- Social: Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Randomness in p5.js">
<meta name="twitter:description" content="An indepth article about randomness, seeds and noise in p5.js">
<meta name="twitter:image" content="randomness.png">

<!-- end custom head snippets -->
